
.form-container {
  width: 90%;
  max-width: 800px;
  margin: 10px auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 130px -6px 255px 32px rgba(183, 255, 0, 0.502),
-130px -6px 255px 128px rgba(0,78,80,0.5);
  background-color: #fff;
  margin-bottom: 302px;

  h2 {
    text-decoration: underline;
    text-align: center;
    color: rgba(0,78,80,1);
    margin-top: 0px;
    margin-bottom: 10px auto;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical;
}


.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #006769;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #004c54;
}

/* Buton disabled olduğunda uygulanacak stil */
.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Medya sorguları ile responsive tasarım */
@media (max-width: 600px) {
  .form-container {
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
    font-size: 0.9rem;
  }

  .form-button {
    padding: 8px;
    font-size: 0.9rem;
  }
}

input:focus,
textarea:focus {
  outline: 2px solid #006769;
}